<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.diamondq.common.utils.log4j2">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%15t] %-5level %16X{traceId} %36.36dqlogger{3} - %DQMDC{!traceId} - %NDC - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.diamondq" level="trace" />
		<Logger name="org.jboss.weld" level="info" />
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>