package {{package}};

{{#imports}}import {{import}};
{{/imports}}

{{#useSwaggerAnnotations}}
  import io.swagger.annotations.*;
{{/useSwaggerAnnotations}}

import io.micronaut.http.client.annotation.Client;
import io.micronaut.http.annotation.Consumes;
import io.micronaut.http.annotation.Produces;
import io.micronaut.http.annotation.Get;
import io.micronaut.http.annotation.Options;
import io.micronaut.http.annotation.Patch;
import io.micronaut.http.annotation.Post;
import io.micronaut.http.annotation.Put;
import io.micronaut.http.annotation.Delete;
import io.micronaut.http.annotation.QueryValue;
import io.micronaut.http.annotation.PathVariable;
import io.micronaut.http.annotation.Part;
import io.micronaut.http.annotation.Body;
import io.micronaut.retry.annotation.Retryable;
import org.jetbrains.annotations.NotNull;

import java.io.InputStream;
import java.util.List;
import java.util.Map;
import java.util.Optional;
{{#useBeanValidation}}import javax.validation.constraints.*;
import javax.validation.Valid;
import io.micronaut.core.annotation.Nullable;{{/useBeanValidation}}
import com.diamondq.common.injection.micronaut.auth.AuthInfo;
import com.diamondq.common.bpm.camunda.CamundaRetryPredicate;

{{#appDescriptionWithNewLines}}/**
* {{appDescriptionWithNewLines}}
*/{{/appDescriptionWithNewLines}}
@Client(id="{{serviceDiscoveryId}}", path="{{contextPath}}"){{#useSwaggerAnnotations}}
  @Api(description = "the {{{baseName}}} API"){{/useSwaggerAnnotations}}{{#hasConsumes}}
  @Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
  @Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }){{/hasProduces}}
@Retryable(predicate=CamundaRetryPredicate.class)
{{>generatedAnnotation}}
public {{#interfaceOnly}}interface{{/interfaceOnly}}{{^interfaceOnly}}class{{/interfaceOnly}} {{classname}} {
{{#operations}}
  {{#operation}}

    {{#interfaceOnly}}{{>apiInterface}}{{/interfaceOnly}}{{^interfaceOnly}}{{>apiMethod}}{{/interfaceOnly}}
  {{/operation}}
  }
{{/operations}}