{{#useSwaggerAnnotations}}
import io.swagger.annotations.*;
{{/useSwaggerAnnotations}}
import java.util.Objects;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import io.micronaut.core.annotation.Introspected;
import org.checkerframework.checker.nullness.qual.Nullable;

{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}{{#description}}/**
 * {{description}}
 **/{{/description}}
@Introspected
{{#useSwaggerAnnotations}}{{#description}}@ApiModel(description = "{{{description}}}"){{/description}}{{/useSwaggerAnnotations}}
{{>generatedAnnotation}}{{>additionalModelTypeAnnotations}}public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}} {{#serializableModel}}implements Serializable{{/serializableModel}} {
  {{#vars}}{{#isEnum}}{{^isContainer}}

{{>enumClass}}{{/isContainer}}{{#isContainer}}{{#mostInnerItems}}
 
{{>enumClass}}{{/mostInnerItems}}{{/isContainer}}{{/isEnum}}
  private {{#useBeanValidation}}@Valid {{/useBeanValidation}}{{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};{{/vars}}

  {{#vars}}/**
   {{#description}}
   * {{description}}
   {{/description}}
   {{#minimum}}
   * minimum: {{minimum}}
   {{/minimum}}
   {{#maximum}}
   * maximum: {{maximum}}
   {{/maximum}}
   * @param p{{nameInCamelCase}} {{description}} 
   * @return this
   **/
  public {{classname}} {{name}}({{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} p{{nameInCamelCase}}) {
    {{name}} = p{{nameInCamelCase}};
    return this;
  }

  {{#vendorExtensions.x-extra-annotation}}{{{vendorExtensions.x-extra-annotation}}}{{/vendorExtensions.x-extra-annotation}}{{#useSwaggerAnnotations}}
  @ApiModelProperty({{#example}}example = "{{{example}}}", {{/example}}{{#required}}required = {{required}}, {{/required}}value = "{{{description}}}"){{/useSwaggerAnnotations}}
  @JsonProperty("{{baseName}}")
{{#useBeanValidation}}{{>beanValidation}}{{/useBeanValidation}} public {{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} {{getter}}() {
    return {{name}};
  }

  public void {{setter}}({{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} p{{nameInCamelCase}}) {
    {{name}} = p{{nameInCamelCase}};
  }
  {{/vars}}

  {{#generateBuilders}}@JsonCreator
  public {{classname}}({{#vars}}@JsonProperty("{{baseName}}") {{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} p{{nameInCamelCase}}{{^-last}}, {{/-last}}{{/vars}}) {
    {{#vars}}
    {{name}} = p{{nameInCamelCase}};
    {{/vars}}
  }{{/generateBuilders}}

  @Override
  public boolean equals(Object o) {
    if (this == o) {
      return true;
    }
    if (o == null || getClass() != o.getClass()) {
      return false;
    }{{#hasVars}}
    {{classname}} {{classVarName}} = ({{classname}}) o;
    return {{#vars}}Objects.equals(this.{{name}}, {{classVarName}}.{{name}}){{^-last}} &&
        {{/-last}}{{/vars}}{{#parent}} &&
        super.equals(o){{/parent}};{{/hasVars}}{{^hasVars}}
    return {{#parent}}super.equals(o){{/parent}}{{^parent}}true{{/parent}};{{/hasVars}}
  }

  @Override
  public int hashCode() {
    return Objects.hash({{#vars}}{{name}}{{^-last}}, {{/-last}}{{/vars}}{{#parent}}{{#hasVars}}, {{/hasVars}}super.hashCode(){{/parent}});
  }

  @Override
  public String toString() {
    StringBuilder sb = new StringBuilder();
    sb.append("class {{classname}} {\n");
    {{#parent}}sb.append("    ").append(toIndentedString(super.toString())).append("\n");{{/parent}}
    {{#vars}}sb.append("    {{name}}: ").append(toIndentedString({{name}})).append("\n");
    {{/vars}}sb.append("}");
    return sb.toString();
  }

  /**
   * Convert the given object to string with each line indented by 4 spaces
   * (except the first line).
   */
  private String toIndentedString(Object o) {
    if (o == null) {
      return "null";
    }
    return o.toString().replace("\n", "\n    ");
  }

  {{#generateBuilders}}
  public static Builder builder() {
    return new Builder();
  }

  public static class Builder {
    {{#vars}}
    private {{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
    {{/vars}}

    {{#vars}}
    /**
      {{#description}}
      * {{description}}
      {{/description}}
      {{#minimum}}
      * minimum: {{minimum}}
      {{/minimum}}
      {{#maximum}}
      * maximum: {{maximum}}
      {{/maximum}}
      * @param p{{nameInCamelCase}} {{description}}
      * @return the builder
      **/
    public Builder {{name}}({{^required}}@Nullable {{/required}}{{{datatypeWithEnum}}} p{{nameInCamelCase}}) {
      {{name}} = p{{nameInCamelCase}};
      return this;
    }
    {{/vars}}

    public {{classname}} build() {
      return new {{classname}}({{#vars}}{{name}}{{^-last}}, {{/-last}}{{/vars}});
    }
  }{{/generateBuilders}}
}
