{{#isQueryParam}}@QueryValue(value="{{baseName}}"{{#defaultValue}}, defaultValue="{{defaultValue}}"{{/defaultValue}}){{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}} {{#useSwaggerAnnotations}}{{#description}} @ApiParam("{{description}}"){{/description}}{{/useSwaggerAnnotations}}  {{{dataType}}} {{paramName}}{{/isQueryParam}}