Optional<{{#returnContainer}}{{returnContainer}}<{{#isMap}}@NonNull String, @NonNull {{{returnBaseType}}}{{/isMap}}{{#isArray}}@NonNull {{{returnBaseType}}}{{/isArray}}>{{/returnContainer}}{{^returnContainer}}{{{returnBaseType}}}{{/returnContainer}}>