{{#returnContainer}}{{returnContainer}}<{{#isMapContainer}}@NonNull String, @NonNull {{{returnBaseType}}}{{/isMapContainer}}{{#isListContainer}}@NonNull {{{returnBaseType}}}{{/isListContainer}}>{{/returnContainer}}{{^returnContainer}}@org.checkerframework.checker.nullness.qual.Nullable {{{returnBaseType}}}{{/returnContainer}}