Optional<{{#returnContainer}}{{returnContainer}}<{{#isMap}}@NotNull String, @NotNull {{{returnBaseType}}}{{/isMap}}{{#isArray}}@NotNull {{{returnBaseType}}}{{/isArray}}>{{/returnContainer}}{{^returnContainer}}{{{returnBaseType}}}{{/returnContainer}}>