<configuration>
  <conversionRule conversionWord="DQLogger" converterClass="com.diamondq.common.utils.logback.DQLogger" />
  <conversionRule conversionWord="DQMDC" converterClass="com.diamondq.common.utils.logback.DQMDC" />
  <conversionRule conversionWord="DQIfMDC" converterClass="com.diamondq.common.utils.logback.DQIfMDC" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- %-9.9marker replaced with %-9.9DQMDC(slf4j.marker) as pax-logging-logback currently loses the marker -->
      <pattern><![CDATA[%d{HH:mm:ss.SSS} [%-16.16thread] %-5level %-36.36logger{36} - %-15.15DQMDC{ctx} - %DQMDC{DQIndent}%DQIfMDC{!DQIndent,!DQT,!ctx,!bundle.id,!bundle.name,!bundle.version,!slf4j.marker,-\s}%DQMDC{!DQIndent,!DQT,!ctx,!bundle.id,!bundle.name,!bundle.version,!slf4j.marker}%DQIfMDC{!DQIndent,!DQT,!ctx,!bundle.id,!bundle.name,!bundle.version,!slf4j.marker,\s}%msg%n]]></pattern>
    </encoder>
  </appender>
  <if condition='property("env.eclipse").equals("false") == false'>
    <then>
      <logger name="com.diamondq" level="TRACE" />
      <logger name="com.diamondq.common.vertx.EventBusManager" level="TRACE" />
      <logger name="com.diamondq.common.metrics.micrometer" level="WARN" />
    </then>
  </if>
  <logger name="org.codehaus.janino" level="INFO" />
  <logger name="io.netty.channel.nio.NioEventLoop" level="INFO" />
  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>